<!-- <div style="text-align:center; padding: 8px;">
  <h1>
    NGX-WEUI
  </h1>
  <p>
    <a href="https://github.com/weui/weui" target="_blank">WeUI</a> for angular,
    A UI library by WeChat official design team, includes the most useful widgets/modules in mobile web applications.
  </p>
  <div style="margin-top: 16px;">
    <button weui-button>Button</button>

    <weui-button weui-type="warn" (click)='toast()' weui-button>toast</weui-button>
    <weui-button weui-type="warn" (click)='loading()' weui-button>loading</weui-button>
    <weui-button weui-type="warn" (click)='dialog()' weui-button>dialog</weui-button>
  </div>
</div> -->

<!-- <div class="bg">


</div> -->


<weui-dialog #ios [config]="config"></weui-dialog>